* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: retro;
  src: url(ARCADECLASSIC.TTF);
}
@font-face {
  font-family: pacman;
  src: url(PAC-FONT.TTF);
}
.navbar {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  background: black;
  padding: 1.2em;
  position: relative;
}
.links {
  display: flex;

  width: 100%;
  justify-content: center;
  gap: 3em;
}
.links li {
  list-style: none;
}
.links a {
  text-decoration: none;
  color: lime;
  font-size: 1.5em;

  font-family: retro;
}
.links a:hover {
  color: red;
}
.logo {
  font-size: 2em;
  font-family: pacman;
  color: red;
}
.logo:hover {
  color: lime;
  cursor: pointer;
}
.option .fa.fa-bars {
  padding: 10px;
  font-size: 1.5em;
  color: white;
}
.option {
  display: none;
}
@media only screen and (max-width: 622px) {
  .links {
    display: none;
  }
  .option {
    display: block;
  }
  body {
    background: rgb(255, 142, 142);
  }
}
@media only screen and (min-width: 623px) {
  body {
    background: greenyellow;
  }
}
.mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(68, 68, 68);
  width: 67%;
  height: 100vh;
  padding: 20px;
  font-size: 1.2em;
}
.mobile a {
  padding: 10px;
  display: block;
}
.mobile.links a:hover {
  color: red;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
